Source: cldtcwt
Priority: extra
Maintainer: Rich Wareham <rjw57@cam.ac.uk>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/cldtcwt.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cldtcwt.git;a=summary

Package: cldtcwt-dev
Section: libdevel
Architecture: any
Depends: cldtcwtBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: cldtcwtBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
